
.wrap {
	background-image: url(../images/Zigzag.png) repeat-x scroll 0 0 ;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.content {
	margin: 0 auto;
	padding: 2.2em 0 0 0;
	width: 90%;
	max-width: 1200px;
	font-size: 100%;
}
aside {
	float: left;
    padding: 0;
    margin: .4em 2.5em 3.5em 0;
    width: 22.25%;
    color: #333;
}
aside a {
	color: #333;
	text-decoration: none;
}
aside p {
	color: #999;
}
section {
	float: left;
    width: 49.5%;
    padding: 0;
    margin: 0 2.5em 3.5em 0;
}
section a{
	color: #3b98b2;
	text-decoration: none;
}
h3 {
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 4px;
	font-family: sans-serif;
	font-style: normal;
	font-size: 1em;
	color: #999;
}
h1 {
	font-size: 30px;
}
h1 a {
	color: #333333;
}
p {
	font-size: 18px;
}
a:hover { 
    background-color: #3b98b2;
}
.author {
	color: #333;
    font-style: normal;
    text-transform: uppercase;
}
section img {
    margin: 0 auto 1.2em 0;
    display: block;
    text-align: center;
    width: 500px;
    height: auto;
}
.side ul li {
    font-size: .875em;
    color: #888888;
    margin-bottom: .5em;
    list-style: none;
}
.side a {
	text-decoration: none;
	color: #333;
}
.copy {
    float: left;
    padding: 1em 0 0 0;
    color: #6E7C82;
}
article blockquote {
    color: #555;
    font-style: italic;
    line-height: 1em;
    padding: 0px 0px 0px 1em;
    border-left: 4px solid #ADD3DD;
}
body {
	margin:0;
	padding: 0;
	border-top:5px solid rgb(47,50,54);
}

.header {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-color: #2E383A;
	background-position: center;
	width:100%;
	height:480px;
}
.inner-header {
	width:90%;
	margin:0 auto;
	height:420px;
	padding-top:25px;
}
.logo {
	background-image: url(../images/logo.png);
	background-repeat:no-repeat;
	float:left;
	margin:20px 50px;
	height:75px;
	width:80px;
	display:block;
}
ul {
    list-style-type: none;
    float:right;
    margin:35px;
    padding: 15px;
    font-family: monospace;
}
.fontstyle {
	display: inline;
	padding:0 25px 0 0;
}
.fontstyle a {
	color:#FFFFFF;
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 3px;
}
.fontstyle a:hover {
	border-bottom: 1px solid #666666;
}
.center {
	text-align: center;
	width: 484px;
	margin: 0 402px;
	margin-top:138px;
}
.center h1 {
	margin:20px;
	font-size: 45px;
	font-family: Arial;
	font-weight: 100;
	color:#FFFFFF;
}
.center p {
	font-size: 18px;
	color:#DCDCDC;
}
.center p a {
	text-decoration: none;
	color:#4CB9DB;
}
.center a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}
.center a:hover {
	color:#4CB9DB;
}
.footer {
	background-image: url(../images/footer.jpg);
	width:100%;
	height: 120px;
}
.left_footer {
	float:left;
	color:#6E7C82;
	margin: 10px 0px 0px 45px;
	font-size: 18px;

}
.right_footer {
	float:right;
	width:300px;
	list-style-type: none;
	margin-top: 16px;
}
.twitter {
	display: inline-block;
	padding: 0px 49px 0px 0px;
	font-size: 14px;
}
.twitter a {
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	color: #DBDFE1;
	background-image: url(../images/social-sprite.png);
	background-repeat:no-repeat;
	background-position:0px -26px; 
}
.rss {
	display: inline-block;
	font-size: 14px;
}
.rss a {
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	color: #DBDFE1;
	background-image: url(../images/social-sprite.png);
	background-repeat:no-repeat;
	background-position:0px -53px; 
}
